body{
    margin: 0;
}

.wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vh;
    text-align: center;
    margin: 25vh 25vw;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0,.1);
}

/*  */

.results{
    width: 50%;
    height: 100%;
    background-color: blue;
    border-radius: 20px 20px 20px 20px;
}

.results-total{

}

/*  */

.summary{
    width: 50%;
    height: 100%;

}

.summary-item{

}
