@font-face {
  font-family: 'MyFont';
  src: url('../assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
}

body{
  margin: 0;
  padding: 0;
}

/* CONTAINER FOR COMPONENT */

.wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 50vh;
  text-align: center;
  margin: 25vh 25vw;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0,.1);
}

/* RESULTS */

.results{
  width: 50%;
  height: 100%;
  background-color: blue;
  background: rgb(104,95,255);
  background: linear-gradient(180deg, rgba(104,95,255,1) 0%, rgba(0,0,88,1) 100%);
  border-radius: 20px 20px 20px 20px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  color: white;
  
}

.results h3{
  margin-top: 3rem;
}

.results-total{
  background: rgb(104,95,255);
  background: linear-gradient(0deg, rgba(104,95,255,1) 0%, rgba(0,0,88,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  margin: 0 auto;
  padding: 2rem;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.results-total p:first-child{
  font-size: 3rem;
  margin: 0;

}
.results-total p:last-child{
  margin: 0;

}

.results-bottom{
  margin: 0 3rem;
  margin-top: 3rem;
}
.results-bottom h5{
  margin: 0;
  font-size: 2rem;
}

/* SUMMARY */

.summary{
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

.summary-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem;

}
.summary-item span{
  display: flex;
  align-items: center;
}

.summary-item img{
  margin-right: .3rem;
}

.summary-item.btn{
  
  margin-bottom: 2rem;
  border-radius: 50px;
  padding: 0;

}
.summary-item button{
  color: white;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 50px;
  background: rgb(104,95,255);
  background: linear-gradient(180deg, rgba(104,95,255,1) 0%, rgba(0,0,88,1) 100%);
  border: none;
  cursor: pointer;
  
}
.summary-item button:hover{
  background: rgb(104,95,200);
}

.summary h3{
  margin-top: 2rem;
}

.summary-item-score{
  color: black;

}

.summary-item-score span{
  color: #888;
  margin-left: .3rem;
}

/* Summary item IDs */

#Reaction{
  color: red;
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 10px;
  padding: .5rem;
}
#Memory{
  color: #ffbb11;
  background-color: rgba(255, 187, 17, 0.1);
  border-radius: 10px;
  padding: .5rem;
}
#Verbal{
  color: #11ff99;
  background-color: rgba(17, 255, 153, 0.1);
  border-radius: 10px;
  padding: .5rem;
}
#Visual{
  color: blue;
  background-color: rgba(0, 0, 255, 0.1);
  border-radius: 10px;
  padding: .5rem;
}

@media only screen and (max-width:800px){
.wrapper{
  flex-direction: column;
  width: 98vw;
  height: 100vh;
  margin: 0;
}
.results{
  width: 100%;
  height: 40%;
  border-radius: 0 0 20px 20px;
  padding: 0;
  margin: 0;
}
.summary{
  width: 100%;
  height: 60%;
}
p{
  font-size: 1.5rem;
}
span{
  font-size: 1.5rem;
}
h3{
  font-size:2rem;
}
.results-total p:first-child{
  font-size: 5rem;
}
.results-total{
  width: 150px;
  height: 150px;
  
}
.results-bottom{
  margin: .5rem;
  margin-top: 3rem;
  justify-self: center;
  align-self: center;
}
.results-bottom h5{
  font-size: 3rem;
}
.results-bottom p{
  font-size: 2rem;
  padding: 0 5rem;
}
/* summary */
.summary-item span{
  font-size: 2.5rem;
  padding: 0;

}
.summary-item{
  margin: 1rem 5rem; 
}

.summary-item img{
  height: 2.5rem;
}

.summary-item button{
  font-size: 2rem;
}
}